* {
  padding: 0;
  margin: 0;
}

body {
  font-family: $post-medium;
  font-size: 14px;
}

header {
  height: 66px;
  background-color: $navy;
}

p {
  font-family: $post-book;
  font-size: 14px;
  line-height: 1.8em;
}

.logo {
  padding-left: 7em;
  height: 42px;
  width: 124px;
}

.strong {
  font-weight: 700;
}

textarea:focus, input:focus {
  outline: none;
}

