.details {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  margin-bottom: 3em;

  .details__heading {
    line-height: 1.5em;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #212121;
    }

  .details__paragraph {
    font-size: 14px;
    letter-spacing: 1.5px;
    color: $gray-darkest;
    }
}
