footer {
  padding: 1em;
  display: flex;
  width: 100%;
  margin-top: 3em;
  font-size: 12px;
  color: $blue-primary;
  border-top: 1px solid $gray-border;

  p {
    flex: 1 0 auto;
    color: $gray;
    font-size: 12px;
    font-family: "PostGrotesk-Book";
  }

  a {
    padding-left: 1em;
    font-size: 12px;
  }
  .footer_left {
    text-align: left;
  }
}
