.container {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  background-color: $background-primary;
}

.transaction-container {
  order: 1;
  flex: 3;
}

.receipt-container {
  flex: 2;
  order: 2;
  height: 100vh;
  background-color: $background-secondary;
  border: solid 1px #E0E0E0;
}

.content {
  display: flex;
  flex-flow: row wrap;
  max-width: 550px;
  padding: 3em;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}


.transaction {
  display: flex;
  padding: 1em;
  height: 60px;
  width: 100%;
}

.transaction--send {
  border: 1px solid $blue-primary;
  background-color: rgba(110, 192, 230, 0.03);
}

.transaction--receive {
  border: 1px solid $gray-border;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  .transaction-container {
    order: 1;
  }

  .receipt-container {
    order: 2;
  }
}
