@import "variables";
@import "mixins";
@import "layout";
@import "base";
@import "progress";
@import "transaction";
@import "details";
@import "next";
@import "receipt";
@import "modal";
@import "footer";

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  .progress__step {
    width: 100%;
    flex-flow: column-wrap;
  }

  .transaction-container {
    order: 1;
  }

  .receipt-container {
    order: 2;
  }
}

// @media (max-width: 460px) {
//   .verification__digits  {
//       flex-flow: row wrap;
//   }
// }